
template(name="settings")
    with user
        section.p-settings
            .c-island
                    .row.p-settings__row
                        .col.w2
                            .c-island__title Фотография
                        .col.w2
                            .c-island__title Изменение пароля                            
                            form#changePassword.c-form
                                label.c-form__label
                                    | Текущий пароль
                                    span.c-form__error {{errorMessage 'passwordOld'}}
                                    input.c-form__field(name="passwordOld", value="", class="{{errorClass 'passwordOld'}}", autocomplete="off", spellcheck="off")
                                label.c-form__label
                                    | Новый пароль
                                    span.c-form__error {{errorMessage 'passwordNew'}}
                                    input.c-form__field(name="passwordNew", value="", class="{{errorClass 'passwordNew'}}", autocomplete="off", spellcheck="off")
                                label.c-form__label
                                    | Подтверждение нового пароля
                                    span.c-form__error {{errorMessage 'passwordNewConfirm'}}
                                    input.c-form__field(name="passwordNewConfirm", value="", class="{{errorClass 'passwordNewConfirm'}}", autocomplete="off", spellcheck="off")                                    
                                         
                                button.c-btn.c-btn_color_green Изменить пароль
                            
                    
                    .c-island__title Персональная информация
                    form#updateProfile.c-form
                        .row.p-settings__row
                            .col.w2
                                label.c-form__label
                                    | Фамилия
                                    span.c-form__error {{errorMessage 'profile.lastName'}}
                                    input.c-form__field(name="lastName", value="#{profile.lastName}", class="{{errorClass 'lastName'}}")
                                label.c-form__label
                                    | Имя
                                    span.c-form__error {{errorMessage 'profile.firstName'}}
                                    input.c-form__field(name="firstName", value="#{profile.firstName}", class="{{errorClass 'firstName'}}")
                                label.c-form__label
                                    | Отчество
                                    span.c-form__error {{errorMessage 'profile.middleName'}}
                                    input.c-form__field(name="middleName", value="#{profile.middleName}", class="{{errorClass 'middleName'}}")

                                label.c-form__label Пол
                                    span.c-form__error {{errorMessage 'profile.gender'}}
                                    select.c-form__field(name="gender")
                                        option(disabled, selected) Не выбран
                                        option(value="male", selected="{{activeGender 'male'}}") мужской
                                        option(value="female", selected="{{activeGender 'female'}}") женский
                                        
                                label.c-form__label День рождения
                                    span.c-form__error {{errorMessage 'profile.birthday'}}
                                    input.c-form__field.js-datepicker(name="birthday", class="{{errorClass 'birthday'}}", placeholder="31.12.2016", data-datepicker="true", data-position="top right", autocomplete="off", spellcheck="off")
                            .col.w2
                                label.c-form__label
                                    | Мобильный телефон
                                    span.c-form__error {{errorMessage 'profile.phoneMobile'}}
                                    input.c-form__field(name="phoneMobile", value="#{profile.phone.mobile}", class="{{errorClass 'phoneMobile'}}")
                                label.c-form__label
                                    | Рабочий телефон
                                    span.c-form__error {{errorMessage 'profile.phoneWork'}}
                                    input.c-form__field(name="phoneWork", value="#{profile.phone.work}", class="{{errorClass 'phoneWork'}}")
                                    
                            .col.w1                    
                                button.c-btn.c-btn_color_green Сохранить изменения



template(name="settingsSub")
