
template(name="projectsItem")
    section.p-tasks-item
        .c-island
            .c-island__title Задачи проекта
            if tasksList
                .b-list
                    .b-list__row.b-list__row_head
                        .b-list__title.b-list__title_head Название
                        .b-list__deadline Крайний срок
                        .b-list__executor Исполнитель
                    each tasksList
                        .b-list__row(class="{{getListPriorityClass}}")
                            .b-list__title: a(href="{{pathFor 'tasksItem' _id=_id}}") #{title}
                            .b-list__deadline {{getDateText deadline}}
                            .b-list__executor {{getUserLInk executorId}}
            else
                | Задач нет.
                

template(name="projectsItemSub")
    with project
        .c-island
            .c-island__title Информация о проекте
                if isCreator
                    a.c-island__edit(href="/projects/edit/#{_id}", title="Редактировать проект")
            .p-tasks-item-sub
                .p-tasks-item-sub__key Название
                .p-tasks-item-sub__value #{title}
                .p-tasks-item-sub__key Описание
                .p-tasks-item-sub__value #{description}
                .p-tasks-item-sub__key Создатель
                .p-tasks-item-sub__value {{getUserLInk userId}}
                if members
                    .p-tasks-item-sub__key Участники
                    .p-tasks-item-sub__value {{getUserLInk members}}                    
                if counters.tasks
                    .p-tasks-item-sub__key Количетво задач
                    .p-tasks-item-sub__value #{counters.tasks}
                .p-tasks-item-sub__key Дата создания
                .p-tasks-item-sub__value {{getDateText createdAt}}
