
template(name="tasksItem")
    section.tasksItem
        .row: .col.w1
            .g-heading.g-heading_level_1.g-heading_first #{title}
            p description: #{description}
            p priority: #{priority}
            p executorId: #{executorId}
            p coExecutor: #{coExecutor}
            p deadline: #{deadline}
            p projectId: #{projectId}
            p createdAt: #{createdAt}
            p userId: {{getUsername userId}} - #{userId}
